.track{
    padding: 10px;    
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center; 

}

.primary h4{
    font-size: 1.5em;
}

.track img{
    grid-column: span 1;
}
.track p{
    grid-column: span 3;
}
.track h2{
    grid-column: span 3;
}
.track h4{
    grid-column: span 3;
}

.track > img{
    border-radius: 5px;
    margin: 0 5px;
}
.track h4{
    margin: 0 10px;
    white-space: nowrap;
    display: block;    
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.track p{
    margin: 0 10px;
    white-space: nowrap;    
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.delete{
    background-color: var(--red);
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px 0 auto;   
}

.delete.loading{
    background-color: var(--info)
}

.delete.success{
    background-color: var(--success)
}

.deprecated{
    border: red 5px solid;
}

@media screen and (max-width: 600px){    
    .track{
        grid-template-columns: repeat(6, 1fr); 
        grid-template-areas: 'albmImg bigText bigText bigText bigText deleteImg' 'albmImg smallText smallText smallText smallText deleteImg';      
    }
    .track img{
        grid-column: span 1;
        grid-area: albmImg;
    }
    .track .delete{
        grid-column: span 1;
        grid-area: deleteImg;
    }
    .track p{
        grid-column: span 4;
        grid-area: smallText;
    }
    .track h2{
        grid-column: span 4;
        grid-area: bigText;
    }
    .track h4{
        grid-column: span 4;
        grid-area: bigText;
    }
}
@media screen and (max-width: 375px){    
    .track{
        grid-template-columns: repeat(2, 1fr); 
        grid-template-areas: 'albmImg deleteImg' 'bigText bigText' 'smallText smallText';      
    }
    .track img{
        grid-column: span 1;
        grid-area: albmImg;
    }
    .track .delete{
        grid-column: span 1;
        grid-area: deleteImg;
    }
    .track p{
        grid-column: span 2;
        grid-area: smallText;
    }
    .track h2{
        grid-column: span 2;
        grid-area: bigText;
    }
    .track h4{
        grid-column: span 2;
        grid-area: bigText;
    }
}